.tour-request
  %h2
    Tour Request
.request_container
  .large-12.columns
    .large-4.columns
      %img.media-object{alt: "", src: "#{@tourInfo.picURL}"}
    .large-8.columns
      .details_tour
        %p
          = @start_date
        %p
          %h3.hours
            = @start_time
        %p
          = @tourInfo.address

        - for i in @users
          - if i.picURL == 'undefined'
            - i.url = "http://stage.realync.com/images/noPhoto.jpeg"
          - else
            -i.url = i.picURL
          %img.round{ src: i.url}
      .accept_decline
        %input.accept_tour.button{ type: 'submit', value:'Accept Tour' }
        %input.decline_tour.button-transparent{ type: 'submit', value:'Decline Tour' }

    #declined-form
      %h3
        Tout Declined
      %p
        You have declined a tour request from #{@users.name}. You can send name a message along with your decline below:
      .select-result
      %input.message{ type: 'text', placeholder: 'Type your decline message...'}
      %input#send_decline_message.reply_message.button{ type: 'submit', value:'Send' }{:style => "margin-left:20px;"}