#myForm
  %form#file_upload{'data-remote': true}
    %span.btn.btn-success.fileinput-button
      %i.glyphicon.glyphicon-plus
      %span Add Video .....
      / The file input field used as target for the file upload widget
      %input{ type: "hidden", name:"example1", value:"test"}
      %input#fileupload{accept: "video/*", multiple: "multiple", name: "upload", style: "", type: "file"}
    %br/
    %br/
    / The global progress bar
    #progress.progress
      .progress-bar.progress-bar-success
    / The container for the uploaded files
    #files.files
    %br/
  %input.submit#upload{ type: 'submit' }
  %form#file_upload_multiply{'data-remote': true}
    %span.btn.btn-success.fileinput-button
      %i.glyphicon.glyphicon-plus
      %span Add photos...
      / The file input field used as target for the file upload widget
      %input{ type: "hidden", name:"example1", value:"test"}
      %input#multifileupload{accept: "image/*", multiple: "multiple", name: "upload", style: "", type: "file"}
    %br/
    %br/
    / The global progress bar
    #progress.progress{style:'border: 1px solid black;'}
      .progress-bar.progress-bar-success{style:'height: 100%; background-color: black;width: 0;'}
    / The container for the uploaded files
    #multifiles.files
    %br/
  %form#file_upload_amazon(action="http://videos-s.s3.amazonaws.com" method="post" enctype="multipart/form-data")
    %input{:type => 'hidden', :name => 'key'}
    %input{:type => 'hidden', :name => "AWSAccessKeyId", :value => "AKIAJMXYMSTVHJCNBGMQ"}
    %input{:type => 'hidden', :name => 'acl',  :value => 'private'}
    %input{:type => 'hidden', :name => 'success_action_status', :value => "200"}
    %input{:type => 'hidden', :name => 'policy'}
    %input{:type => 'hidden', :name => 'signature'}

    .fileupload-content
      .fileupload-progress
    .file-upload
      %label.fileinput-button
        %span Upload Document
        %input{:type => "file", :name => "file"}


  %input{onclick: "capture();", type: "submit", value: "Take Screenshot Of Div"}/
  %form#myForm{action: "save.php", enctype: "multipart/form-data", method: "POST"}
    %input#img_val{name: "img_val", type: "hidden", value: ""}/
  #target
    Test strew klgjasdfklj vkl;sdajfgakl; l;akgja
    gka'dfo ';fkgl;ak k'gka'fl;gk k'sdgkl;adfkg';k ;'kl'


