%hr
.large-12.columns.result-item
  .large-6.columns.some-item
    .some-item2{'data-item' => @id, 'data-realtor' => @realtor }
    .result-item-image
      - @mobilePicUrl = 'http://stage.realync.com' + @mobilePicUrl if (@mobilePicUrl == '/images/noPhoto.jpeg')
      %img{:src => "#{@mobilePicUrl}"}
    .result-item-info
      %h5
        = @name
      .result-item-val 
        %img{:src => "assets/location-black.png"}
        = @fullAddress
  .large-4.columns
    .btn-action
      -if (!@realtor)
        %a.button#message_client Message Client
      - else
        %a.button#message_client Message Agent