%script#accountTemplate{ type:"text/html"}
  %form.account-settings{"data-remote" => "true"}
    .user-api-errors
      %div#current_password{"data-fields" => "current_password"}
      %div{"data-fields" => "password,confirmation"}
      %label{for: "check_with_email"}
        Reset With Email Confirmation
        %input#check_with_email{type: "checkbox"}
      %input.button.radius.tiny.submit{type: "submit", value: 'Update Account'}

