%script#editTourTemplate{ type:"text/html"}
  .tour_radio
    .large-12.columns
      %h1{:style => "padding-bottom:50px"}
        Edit Tour
    .large-12.columns
      %form#new_tour{"data-remote" => "true"}
        #tour-type
          %img{src: "assets/pricing/or_circle.png"}
          %span.pull-left
            %input{ id:"scheduled", name:"tour", type:"radio", checked: 'checked', value:"scheduled"}
            %label.scheduled{:for => "scheduled" }
              %h5
                Scheduled Tour
              Invite clients to virtually
              %br view a property.
          %span.pull-right
            %input{ id:"open_house",name:"tour", type:"radio", value:"open_house"}
            %label.open_house{:for => "open_house" }
              %h5
                Open House
              Schedule a tour for any
              %br ReaLync member to view.
          .clearfix
        .tour_data
          .property_place
            property
          %div{"data-fields" => "propertyID"}
        .attendees_date_time
          .attendees_place
            invite attendees
          .attendees_date{"data-fields" => "attendees"}
          .dateTime_place
            .date_div
              date
            .time_div
              time
          .attendees_date{"data-fields" => "dateTime"}
          .hover_div
          #calendar_div
            = image_tag("calendar_icon.png")
        %input.button#submit_form{type: "submit", value: 'Edit Tour' }


-#.large-6.columns
-#  .or
-#  %label.monthly{:for => "rad1" }
-#    .radio-text
-#      Scheduled Tour
-#      %br
-#      Invite clients to virtually view a property.
-#    %input{ id:"rad1", name:"role", type:"radio", checked: 'checked', class: 'button radio-left', value:"monthly", style:" padding: 0;"}
-#  %label.annual{:for => "rad2" }
-#    .radio-text
-#      Open House
-#      %br
-#      Schedule a tour for any ReaLync member to view.
-#    %input{ id:"rad2",name:"role", type:"radio", class: 'button radio-right', value:"annual", style:" padding: 0;"}








