%script#propertyTemplate{ type:"text/html"}  
  .container-property
    %form#cover_upload{"data-remote" => "true"}
      %input#fileupload{accept: "image/*", multiple: "multiple", name: "upload", style: "", type: "file"}
      #progress.progress
        .progress-bar.progress-bar-success
    .opacity-block
    #property_cover_image.files
      .cover-photo
    %form#new_property{"data-remote" => "true"}
      .new_property_header.large-12.columns
        #prop-header-pos
          .large-7.columns
            .property-address
              %div{"data-fields" => "street1"}
              -# %input#address{type: "text", placeholder: "Address"}
              %div{"data-fields" => "postalCode"}
              -# %input#zipcode{type: "text", placeholder: "Zip Code"}
            %label.cover_image_upload{ :for => "fileupload"}
              %img.upload_cover_img(src="assets/properties/upload_cover_photo.png")
          .large-4.end.columns
            %input.button#submit_form{type: "submit", value: 'Create Property' }
            .tip
              %span.icon-tip
              %h6
                Getting started is easy. Simply
                enter the property's street 
                address and zip. We'll do the rest!

      #property-info.large-12.columns
        .large-7.columns
          %h3
            Property Information
          .new_prop_info
            %div{"data-fields" => "bedroomCount"}
            %div{"data-fields" => "bathCount"}
            %div{"data-fields" => "sqft"}
            %div{"data-fields" => "description"}
          %h3
            Video
          #video.large-6
          .new_prop_video.large-6.columns
            %label.multiple_images_upload{ :for => "button_upload" }
              %a.button.button-transparent Upload Video
            .new_delete_video
              %a.button.button-transparent Remove
              -#%a.button.button-transparent{:href => "#!/newProperty"}

        .large-4.columns
          .tip-desc
            %span.icon-tip
            %h6
              Adding a description will help your
              clients remember their favorite
              properties.
          .tip-vid
            %span.icon-tip
            %h6
              Save yourself time and upload a
              pre-recorded tour of the property
              for clients to see at anytime.
                
    .large-12.columns{}
      .new_prop_images
        %h3
          Images
        .large-3.columns
          .upload_image
            %label.multiple_images_upload{ :for => "multifileupload"}
              %img.upload_img(src="assets/properties/upload_image.png" alt="Upload Image")
            %p
              You can upload multiple 
              %br photos at once!
        #multifiles.files
    %form#multiple_upload{"data-remote" => "true"}
      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span Add photos...
        %input#multifileupload{accept: "image/*", multiple: "multiple", name: "upload", style: "", type: "file"}
      %br/
      #progress.progress
        .progress-bar.progress-bar-success

    .upload-video-hide
      %form#file_upload_amazon(action="http://videos-s.s3.amazonaws.com" method="post" enctype="multipart/form-data")


        .fileupload-content
          .fileupload-progress
        .file-upload
          %label.fileinput-button
            %span Upload Document
            %input#button_upload{:type => "file", :name => "file"}


