%script#sessionTemplate{ type:"text/html", action: '#'}
  %form.login{"data-remote" => "true"}
    %a{href: "/landing"}
      %img{src: 'assets/realync-logo.png'}
    .user-api-errors
    %div#sign_in_field{"data-fields" => "email,password,mobile"}
    %input#forgotPasswordUsername{ type: 'text', placeholder: 'Email'}
    %input.button#sign_in.submit{type: "submit", value: 'Sign In' }
    %input.button#button_resetPass.submit{type: "button", value: 'Reset Password'}
    %br
    %h6
      %a#forgotPassBackButton{:href => "#!/sign_in"} Back
    %h6
      %a#button_forgotPass{:href => "#"}
        Forgot Password?
      %span.clo
        Don't have an account?
        %a{href: '#!/sign_up'}Sign up


