%script#tourTemplate{ type:"text/html"}
  .tour_radio
    .large-12.columns
      %h1{:style => "padding-bottom:50px"}
        Schedule Tour
    .large-12.columns
      %form#new_tour{"data-remote" => "true"}
        #tour-type
          %img{src: "assets/pricing/or_circle.png"}
          %span.pull-left
            %input{ id:"scheduled", name:"tour", type:"radio", checked: 'checked', value:"false"}
            %label.scheduled{:for => "scheduled" }    
              %h5
                Scheduled Tour
              Invite clients to virtually
              %br view a property. 
          %span.pull-right  
            %input{ id:"open_house",name:"tour", type:"radio", value:"true"}
            %label.open_house{:for => "open_house" }
              %h5
                Open House
              Schedule a tour for any
              %br ReaLync member to view.
          .clearfix
        .tour_data
          .property_place
            property
          %div{"data-fields" => "propertyID"}
        .attendees_date_time
          #attendees_field
            .attendees_place
              invite attendees
            .attendees_date{"data-fields" => "attendees"}
          #tour_host
            %input{type:"text", placeholder: "Add Tour Host (Optional)"}
          .dateTime_place
            .date_div
              date
            .time_div
              time
          .attendees_date{"data-fields" => "dateTime"}
          .hover_div
          #calendar_div
            = image_tag("calendar_icon.png")
        %input.button#submit_form{type: "submit", value: 'Schedule Tour' }


        .large-6.columns#open_house_block
          %input{ id:"facebook", name:"open_facebook", type:"checkbox", value:"facebook"}
          %label{:for => "facebook"}
            Facebook
          %br
          %input{ id:"twitter", name:"open_twitter", type:"checkbox", value:"twitter"}
          %label{:for => "twitter"}
            Twitter
          %br
          %input{ id:"email", name:"open_email", type:"checkbox", value:"email"}
          %label{:for => "email"}
            Email
          %input.button#submit_open_house{type: "submit", value: 'Schedule Open House'}






