%script#paymentSettingsTemplate{ type:"text/html"}
  .row#payment_settings_block
    .response_answer
    %br
    .large-7.columns
      %form.settings-payment-method#braintree-payment-form{"data-remote" => "true"}
        %h3
          Payment Method
        %div{"data-fields" => "last_name,postal_code,number,cvv,month,year"}
        %input.button{type: "submit", value: 'Add Payment Method' }
      %br
      %a.back_from_form{href: '#'}
        Back
      %a.delete_card{href: '#'}
        Delete
    .large-5.columns
      .payment-icons
        %img{src: 'assets/update_payment/amex.png'}
        %img{src: 'assets/update_payment/discover.png'}
        %img{src: 'assets/update_payment/visa.png'}
        %img{src: 'assets/update_payment/mc.png'}
      .tip
        %span.icon-tip
        %h6
          The 3 digits code located on the
          back of your card or the 4 digit
          code printed on the front of your
          American Express.
