

= render "account_form"
= render "update_payment"

=render "clientProfile"
=render "agent_profile_form"

=render 'property_form'
=render 'edit_property_form'
=render 'tour_form'
=render 'editTour'



#sidebar-bb.large-2.medium-5.columns.full-height
  // render SideBar template here
#topbar-bb
  // render TopBar template here
#page-wrapper.large-10.medium-7.columns
  .large-8.columns#content
    #page-content-bb
  .large-4.columns#rightbar
    #sidebar-right-bb
      // render RightBar template here