
=render "login_form"
=render "session_form"
=render "payment_form"

#login-bb
#top-links.row
  .large-12.columns
    #landing-logo
      %a{href: "/landing"}
        %img{:src => 'assets/realync-logo.png'}
    .top-bar-landing-links
      %h6
        %a.agent_link{:href => '#!/agentBrokers'} Agents & Brokers 
        %a.buyers_link{:href => '#!/buyersRenters'} Buyers & Renters
        %a.pricing_link{:href => '#!/pricing'} Pricing
        %a{:href => '#!/sign_in'} Sign in
        %a.button.tiny.radius{:href => '#!/sign_up'} Sign up for free
#content-bb
  .landing-image1
    %h1.title-text
      Real Estate.
      = image_tag('IconPlay.png')
      Real Time.  
  .landing-template1
    .row
      .large-6.columns
        .image-laptop
          = image_tag("Air.jpg");

      .large-6.columns
        .title-text-template1
          %h3
            Lets face it, real estate touring sucks.
          %h6
            Online option never tell the full story and lack interaction, and physically, touring properties request
            time, money and hassle that we could do without.

  .landing-template2
    .row
      .large-6.columns
        #title-text-template2
          %h3
            Don't just view properties online, experience them.
          %h6
            Tour properties the way you want while interacting live with an agent or
            access recorded tour on demand all form the comfort of your home, office or anywhere.
      .large-6.columns
        .image-iphone
          = image_tag ('Iphone.png')

  .landing-template3
    .row
      .large-6.columns
        .image-devise
          = image_tag ('devise.png')
      .large-6.columns
        #title-text-template3
          %h3
            We put the power in your hands.
          %h6
            Ask questions. View property details. Capture photos. Take notes. Have a private chat.
            ReaLync puts everything at your fingertips and makes it available for later use.

  .landing-template4
    .row
      .large-12.columns
        #title-text-template4
          %h3
            Our Mission
          %h6
            To connect the world's real estate markets, simplify and enhance 
            %br
              the touring process, and be the fabric of real time real estate.
            .join_us_button
            =link_to  image_tag("JoinAs.png"), "#!/sign_up"
  //.last_div
#footer
  .social-icons
    = link_to  image_tag("fb.png"), "#"
    = link_to  image_tag("tw.png"), "#"
    = link_to  image_tag("in.png"), "#" 
  .footer-links
    %h6
      %a.agent_link{href: '#!/agentBrokers'} Agents/Brokers
      / = link_to "Agents/Brokers", "#!/agentBrokers"
      %a.buyers_link{href: '#!/buyersRenters'} Buyers/Renters
      / = link_to "Buyers/Renters", "#!/buyersRenters"
      %a.pricing_link{href: '#!/pricing'} Pricing
      / = link_to "Pricing", "#!/pricing"
      %a.team_link{href: '#!/ourTeam'} Team
      / = link_to "Team", "#!/ourTeam"
      %a.careers_link{href: '#!/careers'} Careers
      / = link_to "Careers", "#!/careers"
      %a.help_link{href: '#!/help'} Help
      / = link_to "Help", "#!/help"
      %a.contact_link{href: '#!/contactUs'} Contact
      / = link_to "Contact", "#!/contactUs"
      %a.blog_link{href: '#!/blog'} Blog
      / = link_to "Blog", "#!/blog"
  .footer-copyright
    %h5
      Copyright © 2014 ReaLync Corp. All rights reserved.    |    Made with ♥ in Chicago

  




