.account
  .row
    .large-6.columns
      #account-form
    .large-6.columns
      #account-settings-tip
        %i.icon-tip
        Change your email address or password here. We'll make sure to confirm the change
        by sending you an email.
  %span.large-12.columns
    %h6
      If you must go, you can, we're sorry to see you leave.
    %a#delete_account_button
      Delete Account