.contactUs-background
  .large12.columns
    %h1.title-text
      ContactUs

.contactUs-template1
  .row
    .large-6.columns
      .contact-template-form
        %form.contact{"data-remote" => "true"}
          %input#firstname{type: "text", placeholder: "First name"}
          %br
          %input#lastname{type: "text", placeholder: "Last name"}
          %br
          %input#emailaddress{type: "text", placeholder: "Email Address"}
          %br
          %input#message{type: "text", placeholder: "Message"}
          %br
          %input.button.tiny.radius{type: "submit", value: 'Send Message' }
          %br

    .large-6.columns
      .large-1.columns
        .contactUs-left-text
          %h5
            Come see us
          %h6
            At your favorite Chicago
            %br
              Starbucks (for now)
      .large-1.columns
        .contactUs-right-text
          %h5
            Get in touch
          %h6
            312-841-7191
            %br
            contact@realync.com
    .large-4.columns
      %img{:src => "assets/map.jpg"}
//.last_div
