@import "foundation_and_overrides";
@import 'foundation/components/range-slider';
@import 'dashboard';
@import 'property';
@import 'backbone-forms';
@import 'profile';
@import 'file_load';
@import 'select2.css';
@import 'messages';
@import 'tour';
@import 'live_tour';
@import "jquery.ui.all";
@import "foundation-datapicker.css";
@import "jquery.datetimepicker.css";
@import "jquery.rs.carousel.css";


html, body{
  height: 100%;
}

img{
  image-rendering: optimizeQuality;
}

.full-width {
  width: 100%;;
  width: 100%;
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.full-height {
  height: 100%;
}

//==========LANDING============
#content-bb{
  //height: 100%;
}

.datetime-block{
  // display: none;
}

.landing-image1{
  width: 100%;
  //height: 100%;
  height: 690px;
  background: url('/assets/home-background.jpg');
  background-size: cover;
}

.landing-template1{
  width: 100%;
  padding: 30px 0 40px 0;
  background-color: white;
}

.image-laptop{
  padding: 30px;
  width: 750px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-iphone{
  padding-top: 30px;
}

.image-devise{
  padding-top: 30px;
}

.image-pricing-phone{ 
}
  .image-pricing-phone img {

    margin-left: 130px;
    width: 215px;
    image-rendering: optimizeQuality;
}


.image-icon-play{
  width: 50px;
  height: 50px;
}

.image-joinas{
  background-position: center;
  width: 100px;
  height: 100px;
}

.title-text-template1{
  padding-top: 110px;
}

.landing-template2{
  width: 100%;
  padding: 30px 0 50px 0;
  background-color: rgb( 61, 65, 77 );
}

#title-text-template2{
  padding-top: 70px;

  h3, h6{
    color: #ffffff;
  }

}

.landing-template3{
  width: 100%;
  padding: 30px 0 50px 0;
  background-color: rgb( 233, 233, 233 );
}

#title-text-template3{
  padding-top: 90px;
}

.landing-template4{
  width: 100%;
  height: 50%;
  padding: 0 0 50px 0;
  background: url('/assets/MissionImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.join_us_button{
  margin-top: 20px;

}

#title-text-template4{
  text-align: center;
  padding-top: 50px;

  h3, h6{
    color: white;
  }

  img {
    width: 100px;
    height: 40px;
    image-rendering: optimizeQuality;
  }
}

#landing-logo{
  float: left;
  width: 200px;
  height: 60px;
  background-size: 210px 60px;
  background-repeat: no-repeat;
  background-position: left top;
}

.top-bar-landing-links{
  float: right;
  margin-top: 30px;
  margin-right: -27%;

  a:focus, a:active, 
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}


  a{
    color: white;
    margin: 20px;
    padding: 3px;
    font-size: 18px;
    padding-bottom: 3px;
  }
}

.button-sing-up-for-free {
  border-radius: 40px;
  background-color: rgb( 31, 167, 203 );
}

.title-text{
  z-index: 0;
  text-align: center;
  color: white;
  font-size: 55px;
  letter-spacing: 5px;
  padding: 50px;
  padding-top: 24%;

  img{
    width: 100px;
    height: 100px;
    image-rendering: optimizeQuality;
    padding: 1%;

  }
}

//==========Careers============

.careers-background{
  width: 100%;
  //height: 90%;
  height: 690px;
  background: url('/assets/careers-background.jpg') no-repeat;
  background-size: 100% 90%;
}

.careers-template1{
  width: 70%;
  // height: 30%;
  background-color: white;
  margin:0 auto;
}

.text-careers-text{
  text-align: center;
  margin-bottom: 40px;
}

.careers-template2{
  width: 100%;
  // height: 50%;
  background-color: white;
  margin:0 auto;
}

.careers-template3{
  width: 100%;
  // height: 60%;
  background-color: rgb( 233, 233, 233 );

  h2{
    padding-top: 50px;
    text-align: center;
  }

  h5{
    font-weight: 500;
    color: rgb(17, 142, 186);
    padding: 10px;
    text-align: center;
  }
}
//==========OUR TEAM===========

.ourTeam-background{
  width: 100%;
  //height: 100%;
  height: 690px;
  background: url('/assets/team-background.jpg') no-repeat;
  background-size: 100% 90%;
}

.ourTeam-template1{
  width: 100%;
  height: 70%;
  padding-bottom: 20px;
  background-color: white;
}

.block{
  margin:0 auto;
}

.ourTeam-avatar{
  width: 70px;
  height: 70px;
  margin:0 auto;
  padding: 2px;
  background: url('/assets/foto.png') no-repeat;
  background-size: 70px 70px;
}

.name-ourTeam{
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  text-transform: uppercase;

  h5 {
    font-size: 10px;
  }

  h6{
    text-align: left;
  }
}

.ourTeam-twitter{
  height: 20px;
  background: url('/assets/twitter.png') no-repeat;
  background-size: 20px 20px;
}

.ourTeam-linked{
  margin-left: 25px;
  height: 20px;
  background: url('/assets/linked.png') no-repeat;
  background-size: 20px 20px;
}

.ourTeam-google{
  height: 20px;
  background: url('/assets/google.png') no-repeat;
  background-size: 20px 20px;
}


//==========CONTACT US=========

.contactUs-background{
  width: 100%;
  //height: 100%;
  height: 690px;
  background: url('/assets/contact-background.jpg') no-repeat;
  background-size: 100% 90%;

}

.contactUs-template1{
  width: 100%;
  height: 70%;
  background-color: white;

  h5{
    font-weight: 600;
    text-transform: uppercase;
  }
}

.contact-template-form{
  width: 100%;
  height: 100%;

  form.contact{
    height: 320px;
    width: 300px;
  }

  form{
    input[type="text"]{
      background: transparent;
      border: none;
      border-bottom: 1px solid #5c5c5c;
      color: #000000;
      font-size: 100%;
      font-style: normal;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;

    }
  }
}

.contactUs-left-text{
  width: 200px;
  height: 100px;
}

.contactUs-right-text{
  text-align: left;
  width: 200px;
  height: 100px;
}

//==========HELP===============

.help-image1{
  width: 100%;
  //height: 90%;
  height: 690px;
  background: url('/assets/help-bg.jpg') no-repeat;
  background-size: 100% 90%;
}

form{
  width: 500px;
  margin:0 auto;

  input[type="text"]{
    background: transparent; 
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #000000;
    font-size: 120%;
    width: 100%;
    font-style: italic;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    outline: none;
  }

  img[type="submit"]{
    width: 35px;
    height: 35px;
    float: right;
    image-rendering: optimizeQuality;
  }
}

.image-search{
  width: 21px;
  height: 21px;
  float: right;
  margin-right: 213px;
  img {
   -moz-padding-end: 1px;
    padding-top: 10px;
    image-rendering: optimizeQuality;

  }
}

.help-template1{
  width: 100%;
  height: 40%;
  background-color: #ffffff;

  h2{
    text-align: center;
  }

  h5{
    text-align: center;
  }
}

.help-template2{
  width: 100%;
  height: 80%;
  background-color: rgb(233, 233, 233);
}
.column-content{
  padding-top: 70px;
}

.content-part{
  width: 450px;
  height: 140px;
  background-color: #ffffff;
  -webkit-box-shadow:  0px 1px 2px 0px rgb(0,0,0);
  -moz-box-shadow:  0px 1px 2px 0px rgb(0,0,0);
  box-shadow:  0px 1px 2px 0px rgb(0,0,0);
  /* IE <9.0 HACK (SUPPORTS ONLY ONE SHADOW) */
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=-2, color=#000000);
}


.content-part:hover{
  background-color: rgb(243, 243, 243);
}

.text-part1{
  padding: 20px;
  width: 450px;

  h5{
    font-weight: 600;
    text-transform: uppercase;
  }
}

.text{
  text-align: justify;
}


//==========AGENTS&BROKERS=====

.agents-brokers-background{
  width: 100%;
  //height: 100%;
  height: 690px;
  background: url('agents_brokers/ab-background.jpg') no-repeat;
  background-size: 100% 90%;
}

.agents-brokers-template1{
  width: 100%;
  // height: 40%;
  background-color: white;
  margin:0 auto;
  padding: 0 0 35px 0;
}

.image-ab-temp1 {
  height: 100%;
  margin-top: -50px;
}

.text-ab-temp1 {
  padding-top: 70px;
}

.agents-brokers-template2 {
  width: 100%;
  // height: 50%;
  background-color: #e9e9e9;
  padding-bottom: 50px;
}

.image-ab-twitter-card {
  width: 100%;
  margin-top: 70px;
  padding-top: 200px;
  background: url('agents_brokers/twitter_card.png') no-repeat;
  background-size: 90%;
}

.text-ab-temp2 {
  width: 100%;
  padding-top: 100px;
}

.agents-brokers-template3 {
  width: 100%;
  padding: 20px;
  // height: 50%;
  background-color: #3b4150;
}

.image-ab-temp3 {
  margin-top: 50px;
  padding-top: 60%;
  background: url('agents_brokers/map.png') no-repeat;
  background-size: 94%;
}

.text-ab-temp3 {
  padding-top: 100px;
  h2, h6 {
    color: #fff;
  }

  h2 {
    padding: 20px 0;
  }
}

.agents-brokers-template4 {
  width: 100%;  
}

.text-ab-features, .text-br-features {
  padding: 30px;
  text-align: center;
}

.left-ab-temp4, .left-br-temp4, .left-careers-template2 {
  width: 100%;
  height: 60%;

  h5 {
    padding-top: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h6 {
    height: 155px;
    padding: 5px;
    padding-left: 50px;
    float: left;
  }
}

.right-ab-temp4, .right-br-temp4, .right-careers-template2 {
  width: 100%;
  height: 60%;

  h5 {
    padding-top: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h6 {
    height: 155px;
    padding: 5px;
    padding-left: 50px;
    float: left;
  }
}

//==========PRICING PAGE==============

.pricing-background {
  width: 100%;
  //height: 70%;
  height: 500px;
  background: url('pricing-background.jpg') no-repeat;
  background-size: 100% 100%;
}
.t-text{
    z-index: 0;
    text-align: center;
    color: white;
    font-size: 55px;
    letter-spacing: 5px;
    padding: 50px;
    padding-top: 18%;
  }

.pricing-template1 {
  width: 100%;
  height: 60%;
  background-color: white;
  padding: 20px;
}



.subscription, .subscription-center,
.subscription-right {
  width: 260px; 
}

.subscription-center {
  margin: 0 auto;
}

.free-signup, .subscription, .subscription-center,
.subscription-right {
  margin: 0 auto;

  .free-signup-img {
    background: url('pricing/free_img.png') no-repeat;
  }

  .basic-sub-img {
    background: url('pricing/basic_img.png') no-repeat;
  }

  .plus-sub-img {
    background: url('pricing/plus_img.png') no-repeat;
  } 

  .premium-sub-img {
    background: url('pricing/premium_img.png') no-repeat;
  }

  .free-signup-img, .basic-sub-img, .plus-sub-img, .premium-sub-img {
    width: 100%;
    background-size: cover;
    h3 {
      margin: 0;
      padding: 25px;
      text-align: center;
      color: #fff;
    }
  }

  
  .price-wrap {
    background-color: #f9f9f9;
    height: 112px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #4b4b4b;

    .price {
      position: relative;
      height: 80px;
      h1 {
        font-size: 50px;
        font-weight: 100;
        span {
          display: inline;
          font-size: 25px;
          line-height: 0.8em;
          position: relative;
          top: -14px;
          right: -6px;
        }
      }
    }
    .price-text {
      width: 100%;
      margin-top: -15px;
      text-transform: uppercase;
      font-size: 14px;
      color: #878787;
    }
  } 

  .sub-description {
    width: 100%;
    margin-top: 2px;
    padding: 10px 0;
    text-align: center;
    background-color: #f9f9f9;
    
    b {
      color: #444;
    }

    p {
      color: #878787;
    }
  }
}

.free-signup {
  width: 70%;
  padding-top: 30px;
  margin-left: -79px;
}

.text-pricing-br, .text-pricing-ab {
  text-align: center;
  color: #2a2a2a;
}

.pricing-template2 {
  width: 100%;
  background-color: #eaeaea;
  padding: 20px;
  clear: both;
  
  form.pricing-form {

    .type-of-sub {
      position: relative;
      width: 90%;
      // height: 50px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 20px;

      img {
        position: absolute;
        width: 30px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      span {
        display: inline-block;
        width: 50%;
        /*height: 100%;*/

        label.monthly, label.annual {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px 0;
          text-align: center;
          color: #a4a4a4;
          border: 1px solid #a4a4a4;
          cursor: pointer;

          h5 {
            color: #a4a4a4;
            font-weight: 700;
            margin-bottom: 0;
          }
        }

        label.monthly {
          /*float: left;*/
          border-right: none;
        }

        label.annual {
          /*float: right;*/
          border-left: none;
        }

        input[type="radio"] {
          display: none;
        }
      }

      span.pull-right {
        float: right;
      }

      span.pull-left {
        float: left;
      }

      input[type="radio"] + label {
        margin: 0;
      }

      input[type="radio"]:checked + label {
        color: #fff;
        background-color: #1ca5c9;
        h5 {
          color: #fff;
        }
      }

      .label.round.success {
        background-color: #1ca5c9;
        padding: 4px;
      }
    }
  }
}

.pricing-template3 {
  width: 73%;
  margin: 0 auto;
  background-color: white;
  // padding: 20px;

  .row {
    padding: 0;
    margin: 0;
  }

  h2 {
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    color: #2a2a2a;
  }
  
  .pricing-footer-text-1 {
    .columns.large-3 {
      background-color: #f9f9f9;
      border-right: 1px solid #f2f2f2;
    }
  }

  .large-1.columns {
    margin: 0 -100px 0 -30px;
  }

  .pricing-footer-img-1 {
    padding-top: 35px;
    image-rendering: optimizeQuality;

    img {
      width: 30px;
      height: 30px;
      image-rendering: optimizeQuality;
    }
  }

  .pricing-footer-text-2, .pricing-footer-text-3 {
    text-align: center;
    padding: 25px 10px 5px 20px;

    b {
      color: #444;
    }

    p {
      color: #878787;
    }
  }

  .pricing-footer-img-2 {
    padding-top: 30px;
    image-rendering: optimizeQuality; 
  }
}

//==========ICONS PAGES: Agents&Brokers, Buyers&Renters
//====================== Careers, Help ================

.icon-camera, .icon-mail, .icon-heart,
.icon-group, .icon-video, .icon-search,
.icon-film, .icon-calendar, .icon-id,
.icon-star, .icon-tip {
  width: 50px;
  height: 100%;
  float: left;
  padding-top: 30px;
}

.icon-camera {
  background: url('camera.png') no-repeat;
  background-size: 70%;
}

.icon-mail {
  background: url('mail.png') no-repeat;
  background-size: 60%;
}

.icon-heart {
  background: url('heart.png') no-repeat;
  background-size: 60%;
}

.icon-group {
  background: url('group.png') no-repeat;
  background-size: 70%;
}

.icon-video {
  background: url('video.png') no-repeat;
  background-size: 70%;
}

.icon-search {
  background: url('search.png') no-repeat;
  background-size: 60%;
}

.icon-film {
  background: url('film.png') no-repeat;
  background-size: 70%;
}

.icon-calendar {
  background: url('calendar1.png') no-repeat;
  background-size: 60%;
}

.icon-id {
  background: url('id.png') no-repeat;
  background-size: 70%;
}

.icon-star {
  background: url('id.png') no-repeat;
  background-size: 70%;
}

.icon-tip {
  background: url('tip.png') no-repeat;
  background-size: 70%;
}


.icon-db-clock {
  background: url('dashboard_menu/clock.png') no-repeat;
}

.icon-db-calendar {
  background: url('dashboard_menu/calendar.png') no-repeat;
}

.icon-db-mail {
  background: url('dashboard_menu/mail.png') no-repeat;
}

.icon-db-property {
  background: url('dashboard_menu/property.png') no-repeat;
}

.icon-db-settings {
  background: url('dashboard_menu/settings.png') no-repeat;
}

.icon-db-agent {
  background: url('dashboard_menu/agent.png') no-repeat;
}

.icon-db-clock, .icon-db-calendar, .icon-db-mail,
.icon-db-property, .icon-db-settings, .icon-db-agent {
  width: 50px;
  height: 30px;
  float: left;
  margin-left: 30px;
  background-size: 50%;
}

//==========AUTH PAGE==========
#auth-page{
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: url('/assets/login_page-background.jpg')  ;
  background-size: 100% 100%;
  min-height: 588px;

  form.sign-up{
    ul[name="isRealtor"]{
      display:none;
    }

    height: 588px;
    width: 300px;

    h6{
      font-size: 13px;
      color: white;
      text-align: center;       
    }
  }
  form.login{

    height: 400px;
    width: 310px;

    h6{
      font-size: 13px;
      color: white;
      text-align: justify; 
    }
    span.clo{
      display: inline-block;
      float: right;
    }
  }
  form{
    img {
      image-rendering: optimizeQuality;
      margin: 40px 0;
      width: 280px;
    }
    color: #ffffff;

    text-align: center;

    input[type="text"], input[type="password"], input[type="month"], input[type="number"] {
      background: transparent;
      border: none;
      border-bottom: 1px solid white;
      color: #ffffff;
      font-size: 130%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      font-style: normal;

    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button,
    input[type=month]::-webkit-inner-spin-button,
    input[type=month]::-webkit-outer-spin-button,
     { 
     -webkit-appearance: none; 
      margin: 0; 
    }

    select {
      background: transparent url("arrow16x16.png") no-repeat 100% center;
      border: none;
      padding-left: 5px;
      border-bottom: 1px solid white;
      color: #b9b9b9;
      font-size: 130%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;

      option {
        color: black;
      }
    }

    select:focus {
      outline: none;
    }

    label.client p, label.agent p{
      background: transparent;
      border: 1px solid white;
      height: 34px;
      line-height: 2;
    }
    label.client.checked p, label.agent.checked p{
      background-color: #0079a1;
    }
    label.client p{
      right-border: none;
    }
    label.agent p{
      left-border: none;
    }

    input[type="submit"]{
      width: 100%;
    }

    label.client, label.agent{
      width: 50%;
      p{
        color:white;
        margin-bottom: -29px;
        position: relative;
        z-index: 100;
      }
    }

    label.client{
      float: left;
    }
    label.agent{
      float: right;
    }

    label.expiration-date {
      font-style: italic;
      text-align: left;
      font-size: 130%;
      color: #a9a9a9;
      margin-bottom: -20px;
      padding-left: 10px;
    }
    .or{
      position:relative;
      background: #AAAAAA;
      border-radius: 23px;
      padding-top: 6px;
      margin: 0 auto;
      width: 30px;
      height:30px;
      font-size: 85%;
      z-index: 110;
      margin-bottom: -31.8px;
    }

  }
//  background-size: cover;
  form.selectSub{
    width: 300px;
    margin: 0 auto;
    .type-of-sub {
      position: relative;
      width: 100%;
      height: 43px;

      img {
        position: absolute;
        width: 30px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      span {
        display: inline-block;
        width: 50%;
        /*height: 100%;*/

        label.monthly, label.annual {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px 0;
          text-align: center;
          color: #bbb;
          border: 1px solid #a4a4a4;
          cursor: pointer;

          h5 {
            color: #bbb;
            font-weight: 700;
            margin-bottom: 0;
          }
        }

        label.monthly {
          /*float: left;*/
          border-right: none;
        }

        label.annual {
          /*float: right;*/
          border-left: none;
        }

        input[type="radio"] {
          display: none;
        }
      }

      span.pull-right {
        float: right;
      }

      span.pull-left {
        float: left;
      }

      input[type="radio"] + label {
        margin: 0;
      }

      input[type="radio"]:checked + label {
        color: #fff;
        background-color: #0079a1;
        h5 {
          color: #fff;
        }
      }

      .label.round.success {
        padding: 4px;
        background-color: #008cba;
      }
    }
  }

  form.payment-method{
    height: 588px;
    width: 320px;
    top: 0;
    left: 0;

    h3, h6 {
      display: inline-block;
      color: #ddd;
      padding: 17px 14px;
    }

    h3 {
      text-align: left;
      float: left;
    }

    h6 {
      padding-top: 27px;
      text-align: right;
      float: right;

      a {
        color: #fff;
      }
    }
    label{
      background: transparent;
      color: #A9A9A9;
      font-size: 130%;
      margin-left: -125px;
    }
  }

  .sub-type {
    width: 250px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px 10px;
    background-color: #35424e;
    color: #6b6b64;
    text-align: center;
    h3 {
      color: #dbdbdb;
    }
  }

  .img-thank-you {
    width: 270px;
    margin: 0 auto;
    margin-top: -20px;
    image-rendering: optimizeQuality;
  }

  .payment-icons {
    padding-top: 30px;
    width: 250px;
    margin: 0 auto;

    img {
      margin-right: 8px;
      width: 50px;
      height: 33px;
      image-rendering: optimizeQuality;
    }

    }
  
  .tip {
    margin-left: -35px;
    padding-top: 45px;

    span.icon-tip {
      margin-top: 10px;
      margin-left: 17px;
    }
   
    h6 {
      width: 80%;
      color: #fff;
      height: 155px;
      padding: 5px;
      // padding-left: 50px;
      float: left;
      text-align: justify;
    }
  }

  .realync-logo {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

//=========DASHBOARD===========

#content-wrapper {
  padding: 20px;
}

#page-wrapper{
  padding: 0;
  margin-left: 220px;
  margin-top: 80px;
  //height: 100%;
  background-color: #f5f5f5;
  #topbar{
    width: 100%;
    height: 60px;
  }
  #page-content-bb{
    background-color: #f5f5f5;
    // position: absolute;
    // padding: 20px;
    width: 100%;
    top: 0;
    bottom: 0;
    color: #a4a4a4;
  }
}

#content {
  padding: 0;
}

#sidebar-bb{

  a:focus, a:active, 
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
  }


  position: fixed !important;
  background-color: #4595c5;
  background-image: url('sidebar.png');
  margin: 0 auto;
  background-size: cover;
  width: 220px;
  height: 100%;
  position: relative;
  color: white;
  padding: 15px;
  #logo{
    height: 60px;
    width: 200px;
    // margin: 50px;
    margin: 0 auto;
    margin-bottom: 80px;
    background: url('/assets/realync-logo.png');
    // background-position: center;
    // background-clip: border-box;
    background-size: 190px 50px;
    background-repeat: no-repeat;
    background-position: left top;
  }
  a{
    color: white;
    font-weight: 100;
  }
  ul a{
    font-size: 20px;
  }
  span {
    margin-left: 20px;
    margin-top: 3px;
  }
  #nav-footer{
    padding: 15px;
    padding-right: 20px;
    padding-left: 0;
    #width: 100%;
    margin-top: 210px;
    position: fixed;
    overflow: hidden;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    height: 100px;
    .row h6 {
      text-align: center;
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 88%;
    }
    #copyrights{
      margin: 20px;
      font-size: 10px;
      text-align: center;
    }
  }
}

#sidebar-right-bb {
  padding: 20px;
  color: #a4a4a4;

  .find-agent {
    //display: none;
    width: 100%;
    height: 100%;
    // padding-bottom: 0;
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;

    h4 {
      font-weight: 500;
      padding: 25px;
      padding-bottom: 0;
    }

    p {
      padding: 35px;
      color: #b6b6b6;
    }

    a {
      margin-bottom: 0;
    }
  }

  #agent-info {
    
  }
  // .my-agent-blue{
  //   width: 100%;
  //   height: 100%;
  //   min-width: 200px;
  //   min-height: 80px;
  //   background-color: #1ca5c9;
  // }

  // .round_img {
  //     z-index: 10;
  //     position: absolute;
  //     border-radius: 100px;
  //     width: 80px;
  //     height: 80px;
  //     margin-top: -50px;
  //     margin-left: 29%;
  //     //border: 3px solid green;
  //     //box-shadow: 0 0 7px #666;
  // }

  // .my-agent {
  //   //display: none;
  //   width: 100%;
  //   height: 100%;
  //   // padding-bottom: 0;
  //   background-color: #fff;
  //   text-align: center;
  //   margin-bottom: 30px;

  //   h4 {
  //     font-weight: 500;
  //     padding: 25px;
  //     padding-top: 60px;
  //     padding-bottom: 0;
  //   }

  //   hr {
  //     //border-bottom: 2px solid;
  //     margin: 0 auto;
  //     width: 40px;
  //     padding-bottom: 20px;
  //   }

  //   p {
  //    // padding: 35px;
  //     color: #b6b6b6;
  //   }

  //   h6 {
  //     color: #b6b6b6;
  //     padding-bottom: 10px; 
  //   }

  //   a {
  //     margin-bottom: 0;
  //   }
  // }

  .messages{
    font-size: 20pt;
    padding: 20px 20px 30px 0px;
    .view{
      right: 0;
      bottom: 0;
      display: inline-block;
      float: right;
      font-size: 10pt;
      color: #1ca5c9; 
      text-decoration: underline;
    }
  }

//  .message_preview_list{
//    ul{
//      margin-left: -1.1rem;
//    }
//    li{
//     // width: 100%;
//     // height: 100%;
//      padding-bottom:3px;
//      list-style-type: none;
//    }
//    .message_preview_list_in{
//      color: black;
//      background-color: white;
//      width: 100%;
//      height: 100%;
//      padding-top: 20px;
//
//      .round_img {
//       border-radius: 100px;
//       width: 30px;
//       height: 30px;
//      }
//      .time {
//        color: #b6b6b6;
//        font-size: 8pt;
//        float: right;
//        font-weight: bolder;
//      }
//      span.date {
//        color: #b6b6b6;
//        font-size: 12pt;
//      }
//      p {
//        color: #b6b6b6;
//        font-size: 11pt;
//      }
//    }
//  }

}

#topbar-bb {
  position: fixed !important;
  z-index: 10000;
  margin-left: 220px;
  width: 100%;
  height: 80px;
  background: #fff;
  border: none;
  border-bottom: 3px solid #ebebeb;

  #search-form {
    float: left;
    padding: 15px;
    padding-bottom: 0;
    margin-left: 70px;

    form {
      width: 300px;

      #s2id_search {
        width: 300px;

        .select2-search-field {
          input[id*="s2id_autogen"] {
            background: transparent !important;
            background-image: url('glass.png') !important;
            background-size: 25px 20px !important;
            background-repeat: no-repeat !important;
            background-position: left !important;
            padding-bottom: 3px;
            text-indent: 30px;
            border: none;
            border-bottom: 2px solid #aaa;
            color: #aaa;
            font-size: 90%;
            -webkit-box-shadow: 0 0 0 0;
            -moz-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;

          }
        }
      }


      input[type="text"] {
        // background: transparent;
        background-image: url('glass.png');
        background-size: 25px 20px;
        background-repeat: no-repeat;
        background-position: left;
        padding-bottom: 3px;
        text-indent: 30px;
        border: none;
        border-bottom: 2px solid #aaa;
        color: #aaa;
        font-size: 90%;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
      }
    }
  }

  #profile {
    float: right;
    padding: 15px;
    padding-top: 25px; 
    margin-right: 220px;

    img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      image-rendering: optimizeQuality;
      height: 34px;
      width: 34px;
      margin-right: 10px;
    }

    h6 {
      display: inline-block;
      color: #a8a8a8;
    }
  }
}


.upcoming{
  font-size: 20pt;
  padding: 20px 20px 30px 20px;
  color: #222222;
  font-weight: normal;
  .view{
    right: 0;
    bottom: 0;
    display: inline-block;
    float: right;
    font-size: 10pt;
    color: #1ca5c9; 
    text-decoration: underline;
  }
}

.dashboard-tours{
  padding: 20px 20px 30px 20px;
  color: #a4a4a4;
}


.tours-calendar{
  padding-top: 25px;
}

#footer {

  a:focus, a:active, 
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}


  //position: fixed;
  //bottom: 0%;
  //z-index: 1000;
  height: 300px;
  width: 100%;
  clear: both;
  background: url('footer-background.png') no-repeat #3b4150;
  background-position: bottom center;
  background-size: 1600px 200px;
  //opacity: 0.9;
  .social-icons {
    //opacity: 1;
    height: 100px;
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 50px;
      img {
        height: 40px;
        margin-left: 40px; 
        image-rendering: optimizeQuality;
      }
  }
  .footer-links {
    //opacity: 1;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    a {
      color: #b2b2b9;
      margin: 20px;
      padding: 3px;
      padding-bottom: 3px;
    }
  }
  .footer-copyright {
    //opacity: 1;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    h5 {
      color: #b2b2b9;
    }
  }
}

//=======DASHBOARD, TOURS=======

.dashboard-all-tours-past-foto{
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 140px;
  background: url("/assets/property1.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 30px;
}

.dashboard-all-tours-past {
  width: 100%;
  height: 100%;
  //min-width: 200px;
  padding-top: 25px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;

  p {
    font-size: 8pt;
    color: #b6b6b6;
  }

  h6 {
    color: #909090;
    text-align: center;
    padding: 0 60px 10px 60px;
  }

  a {
    margin-bottom: 0;
  }

  .rating {
    direction: rtl;
    font-size: 30px;
    unicode-bidi: bidi-override;
    span.star {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
      &:before {
        color: #FFD700;
        //color: #FFF68F;
        content: "\2606";
      }
      &:hover:before,
      &:hover ~ span.star:before {
        color: #FFD700;
        content: "\2605";
      }
      &:hover:after {
        direction: ltr;
        content: attr(title);
        position: absolute;
        left: 0;
        bottom: -22px;
        white-space: nowrap;
        font: normal 14px/normal Arial, Helvetica, sans-serif;
      }
    }
  }
}

.dashboard-all-tours {
  width: 100%;
  height: 100%;
  hr{
    padding: 0;
  }
  .date {
    font-size: 10pt;
  }
}

.tours {
  font-size: 15pt;
}

.tours-links {
  text-align: center;
  text-transform: uppercase;
  float: right;
  font-size: 8pt;
  padding-bottom: 50px;

  a{
    color: #7b7b7b;
  }
  .link1, .link2 {
    display: inline-block;
  }
}
.dashboard-all-tours-left{
  .all_tours_img{
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 90px;
    background-size: 100% 100%; 
  }

.dashboard-all-tours-in {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    margin-bottom: 3px;
    .address{
      padding: 20px 55px 0px 55px;
    }
    .hours{
      color: #1ca5c9;
      padding-bottom: 10px; 
    }
  }
  .all_tours_bottom{
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 90px;
    background-color: #fafafa;
    padding: 20px 0px 0px 20px;
        .round{
          margin-left: -10px;
          height: 40px;
          width: 40px;
          border-radius: 100px;
        }
  }
}
.dashboard-all-tours-right{
  .all_tours_img{
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 140px;
    background: url("/assets/property1.png") no-repeat;
    background-size: 100% 100%; 
  }
.dashboard-all-tours-in {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    margin-bottom: 3px;
    .address{
      padding: 20px 55px 0px 55px;
    }
    .hours{
      color: #1ca5c9;
      padding-bottom: 10px; 
    }
  }
  .all_tours_bottom{
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 90px;
    background-color: #fafafa;
    padding: 20px 20px 20px 50px;
        .round{
          margin-left: 10px;
          height: 40px;
          width: 40px;
          border-radius: 100px;
        }
        .attendees{
        color: #A4A4A4;
        background-color: #FAFAFA;
      }
  }
}
.date_tour {
  text-align: justify;
  font-size: 10pt;
  text-transform: uppercase;
  .month {
    float: right;
  }
}
//=======SETTINGS===============

#account-content-bb{
  width: 100%;
  height: 100%;
}
.account{

  form.account-settings{
    width: 320px;
    top: 0;
    left: 0;

    input[type="text"] {
      background: transparent;
      border: none;
      border-bottom: 1px solid #9d9d9d;
      color: #9a9a9a;
      font-size: 100%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }

    input[type="password"] {
      background: transparent;
      border: none;
      border-bottom: 1px solid #9d9d9d;
      color: #9a9a9a;
      font-size: 100%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }

    p{
      font-size: 0.8em;
      padding-top: 2%;
      text-transform: uppercase;
    }

    a{
      color: #1594be;
      text-decoration: underline;
    }
  }

  #account-settings-tip{
    padding: 6% 15% 0 0;
    float: left;
  }
}
.settings-links{

  a{
    color: #A4A4A4;
    padding: 10px;
    font-size: 10pt;
    text-transform: uppercase;
  }

}

.right-tip-info{
  padding-top: 5%;
  padding-left: 3%;
}

.subscription-settings{

  form.selectSub{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .type-of-sub {
      position: relative;
      width: 100%;
      height: 43px;

      img {
        position: absolute;
        width: 30px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      span {
        display: inline-block;
        width: 50%;
        /*height: 100%;*/

        label.monthly, label.annual {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px 0;
          text-align: center;
          color: #bbb;
          border: 1px solid #a4a4a4;
          cursor: pointer;

          h5 {
            color: #bbb;
            font-weight: 700;
            margin-bottom: 0;
          }
        }

        label.monthly {
          border-right: none;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        label.annual {
          border-left: none;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }

        input[type="radio"] {
          display: none;
        }
      }

      span.pull-right {
        float: right;
      }

      span.pull-left {
        float: left;
      }

      input[type="radio"] + label {
        margin: 0;
      }

      input[type="radio"]:checked + label {
        color: #fff;
        background-color: #1ca5c9;
        h5 {
          color: #fff;
        }
      }

      .label.round.success {
        padding: 4px;
        background-color: #1ca5c9;
      }
    }
  }
}

#payment_settings_block {
  .payment-icons {
    padding-top: 30px;
    width: 250px;
    margin: 0 auto;

    img {
      margin-right: 8px;
      width: 50px;
      height: 33px;
      image-rendering: optimizeQuality;
    }

  }

  .tip {
    margin-left: -35px;
    padding-top: 45px;

    span.icon-tip {
      margin-top: 10px;
      margin-left: 17px;
    }

    h6 {
      width: 80%;
      color: #333;
      height: 155px;
      padding: 5px;
      // padding-left: 50px;
      float: left;
      text-align: justify;
    }
  }
}

#payment-settings-form {
  form.settings-payment-method {
    width: 400px;
    margin: 0;

    input[placeholder] {
      font-style: normal;
      color: #999;
    }
    input[type="text"], input[type="password"], input[type="number"] {
      background: transparent;
      border: none;
      border-bottom: 1px solid #d4d4d4;
      font-size: 95%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;

    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button,
    input[type=month]::-webkit-inner-spin-button,
    input[type=month]::-webkit-outer-spin-button,
    {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance:textfield;
    }

    select {
      background: transparent url("arrow16x16.png") no-repeat 100% center;
      border: none;
      padding-left: 5px;
      border-bottom: 1px solid #d4d4d4;
      color: #999;
      font-size: 95%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      width: 45%;

      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';

      option {
        color: black;
      }
    }

    select:focus {
      outline: none;
    }

    select#month, select#year{
      width: 100%;
    }
    .select-month-left, .select-year-right {
      display: inline-block;
      width: 47%;
    }

    .select-year-right {
      float: right;
    }

    .select-month-left {
      float: left;  
    }
  }
}

.setting_sharing{
  margin-top: 60px;
  .sharing_form{
    background-color: white;
    width: 100%;
    height: 100px;
    border: 1px solid #e9e9e9;
    padding: 25px 25px 20px 25px;

    .text1{
      margin-left: 60px;
      margin-top: -30px;
    }
    .text2{
      margin-top: -15px;
      text-align: right;
    }


    .fblue{
      position: relative;
      background-color: #1ea7cb;
      border-radius: 100px;
      height: 50px;
      width: 50px;


      img{
        position: absolute;
        height: 25px;
        top: 12px;
        left: 16px;
        image-rendering: optimizeQuality;
        // padding-right: 100px;
      }
    }
    .tgrey{
      background-color: #cacaca;
      border-radius: 100px;
      height: 50px;
      width: 50px;
      img{
        position: relative;
        height: 25px;
        top: 12px;
        left: 10px;
        padding-right: 10px;
        image-rendering: optimizeQuality;
      }
      a{
        text-decoration: underline;
      }
    }
  }
  .sharing-settings-tip{
    padding: 0 20px 0 50px;
    float: left;
    h6{
      color: #848484;
    }
  }
}
//=======All Agents=============

#update_profile {
  color: #222222;
  text-align: center;
  font-size: 20pt;
  margin-top: 50px;
}


.agent-wrap {
  position: relative;
  text-align: center;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-right: 20px;
  img.agent-photo {
    border-radius: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 110px;
  }
  .agent-wrap-head {
    height: 50px;
    width: 100%;
    min-width: 210px;
    min-height: 80px;
    background-color: #1ca5c9;
  }

  .agent-info {
    h4 {
      font-weight: 500;
      padding: 25px;
      padding-top: 40px;
      padding-bottom: 0;
      height: 80px;
    }

    hr {
      margin: 0 auto;
      width: 40px;
      padding-bottom: 20px;
    }

    p {
      color: #b6b6b6;
    }

    img.location {
      width: 16px;
    }

    .description {
      padding: 0px 20px 20px 20px;
      height: 45px;
      overflow: hidden;
      h6 {
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #a4a4a4;
      }
    }

    a {
      margin-bottom: 0;
    }
  }

}

.ring {
  z-index: 10;
  position: absolute;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin-top: -50px;
  margin-left: 30%;
  //border: 3px solid green;
  //box-shadow: 0 0 7px #666;
}

.title-text-all-agents{
  padding: 1%;

  h6{
   font-size: 1em;
  }
}

//=======Buyers&Renters=========
.buyers-renters-image1{
  width: 100%;
  //height: 100%;
  height: 690px;
  background: url('buyers_renters/bg_img_buyers&renters.jpg') no-repeat;
  background-size: 100% 90%;
}
.buyers-renters-template1{
  width: 100%;
  //height: 540px;
  padding: 0 0 40px 0;
  background-color: white;
}

.image-macbook{
  //margin-top: 50px;
  width: 150%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.title-br-template1{
  padding-top: 90px;

  h6 {
    color: #767676
  }
}

.buyers-renters-template2{
  width: 100%;
  //height: 60%;
  padding: 30px 0 50px 0;
  background-color: #37444E;
}
#title-br-template2{
  padding-top: 120px;

  h6 {
    color: #C9C8C6;
  }
  h3 {
    color: white;
  }

}
.image-br-temp2{
  margin-top: 5%; 
}

.buyers-renters-template3{
  width: 100%;
  //height: 75%;
  background-color: #E9E9E9;
  padding-bottom: 20px;
}

.image-br-temp3{
  margin-top: 5%; 
  margin-left: -10%; 
}

#title-br-template3{
  padding-top: 30%;

  h6{
    color: #767676;
  }
}

.buyers-renters-template4 {
  width: 100%;
}

//================BLOG==============
.blog-background{
  width: 100%;
  //height: 100%;
  height: 690px;
  background: url('blog/blog_bg.jpg') no-repeat;
  background-size: 100% 90%;
}
.blog-template1{
  width: 100%;
  padding-bottom: 100px;
  background-color: white;
}

.posted_share{
  color: #ADACAD;
  font-weight: 0.1px;
}

.share_buttons{
  margin-left: 5px;
}

.blog_text{
  padding-top: 30px;  
  padding-bottom: 50px;
  color: #777777;
}
.last_div{
  padding-bottom: 300px;
}

.subscribe_sign{
  padding-top: 20px;
  clear: both;
  //height: 100%;
  width: 100%;
}

span.label.round.successs {
      font-style: italic;
      height: 17px;
      background-color: #43ac6a;
      margin: 10px 10px 10px 10px;
}

p.annual {
      padding-right: 50px;
}


.button-transparent, .button-transparent:hover {
  background: transparent;
  border: 1px solid #18a6d3;
  border-radius: 3px; 
  color: #18a6d3;
}

.button-transparent:hover {
  opacity: 0.7;
  cursor: pointer;
}

//=============DASHBOARD AGENT==================

#no-subscription {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  margin: 0 20px;
}

.upcoming {
  h6 {
    color: #ababab;
    padding: 20px 0;
  }
}

.recent-properties-list {
  margin-bottom: 20px;
  .recent-properties-title {
    font-size: 20pt;
    padding: 20px;
    padding-left: 0;
  }

  .recent-property-wrapper {
    width: 270px;
    height: 110px;
    border: 1px thin #bbb;
    border-radius: 4px;

    .recent-prop-image img {
      position: absolute;
      z-index: 1;
      width:270px;
      height:110px;
      border-radius: 4px;
      image-rendering: optimizeQuality;
    }

    a {
      text-decoration: none;
      color: #c4c4c4;
    }

    a:hover .property-address {
      opacity: 0.4;
      color: #fff;
    }

    .property-address {
      position: relative;
      z-index: 2;
      margin: 10px 0;
      width: 100%;
      height: 100%;
      background-color: #222;
      opacity: 0.6;
      padding-top: 35px;
      text-align: center;
      border-radius: 3px;
      color: #fff;
    }
  }
}

#topbar {
  display: none;
}

@media screen and (max-width:751px) {
  #topbar-bb #profile {
    position: absolute;
    margin-left: 56%;
  }

}
@media screen and (max-width:640px) {

  #topbar-bb #profile {
    padding: 15px;
    padding-top: 25px;
    position: absolute;
    margin-left: 87%;
  }

  #logo{
    height: 60px;
    width: 180px;
    margin: 0 auto;
    margin-left: -25px;
    background: url('/assets/realync-logo.png');
    background-size: 180px 40px;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .top-bar-section ul li.footer > a {
    padding-left: 95px
 }

  .top-bar-section ul li > a {
    background: #1181c1;
    font-size: 12pt;
  }

  .top-bar-section ul li:hover:not(.has-form) > a {
    background: #248DC9;
  }

  .top-bar .name {
    background: #1181c1;
  }

  .top-bar, .toggle-topbar {
    background: #1181c1;
  }
  #topbar {
    display: block;
  }
  #sidebar-bb {
    display: none;
  }
  #page-wrapper {
    margin-top: 106px;
  }
  #page-wrapper, #topbar-bb {
    margin-left: 0;
  }
  #topbar-bb {
    height: 110px;
  }
  #topbar-bb #search-form {
    margin-left: 20px;
  }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
  
//======================SEARCH RESULT PAGE============================

#search-results {  
  height: 70px;
  margin-top: 15px;

  
  h2#result-for-term {
    padding-left: 0;
    padding-right: 0;
    color: #555;
    float: left;
  }

  .search-links {
    padding-right: 40px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    // height: 100px;
    line-height: 55px;

    span.slash {
      display: inline-block;
      font-size: 10pt;
      margin: 0 4px;
    }
  }

  .button-transparent {
    padding: 10px 14px;
  }
  a.add_schedule_tour {
    float: right;
    margin-top: 10px;
    font-size: 14px;
  }
}


.all-property-search-list, .all-users-search-list {
  .result-item {
    cursor: pointer;
    .result-item-image {
      margin: 10px 0;
      margin-right: 10px;
      float: left;
      img {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        image-rendering: optimizeQuality;
      }
    }

    .result-item-info {
      text-align: left;
      margin-top: 10px;
      h5 {
        color: #777;
      }

      .result-item-val {
        font-size: 12px;

        img {
          width: 15px;
          margin-right: 5px;
          image-rendering: optimizeQuality;
        }

        span.slash {
          display: inline-block;
          font-size: 14px;
          margin: 0 4px;
        }
      }
      
    }
    .btn-action {
      margin: 25px;
      float: right;
      a {
        width: 175px;
        border-radius: 3px;
        float: right;
      }
    }
  }
}


#select2-drop {
  // border: none !important;
}

// ===============SPINER===============
#realync_spiner {
  position: absolute;
  width: 0;
  height: 0;
  background: black;
  z-index: 22222;
  opacity: 0.5;
}
#status_progress {
  color: white;
  text-align: center;
  display: none;
  position: fixed;
  left: 53%;
  top: 63%;
  margin-left: -150px;
  margin-top: -150px;
  width: 200px;
  min-height: 100px;
//  background: #008cba;
  border-radius: 60%;
  padding: 2%;
  z-index: 22222;
  opacity: 0.7;
  .container-pr{
    margin-top: 30px;
  }
  .container-pr-multy{
    margin-top: -20px;
  }
  .container-pr-video{
    margin-top: -20px;
  }
  .container-pr, .container-pr-multy, .container-pr-video{
    border: 1px solid blue;

    width: 200px;
    height: 20px;
  }
  .progress_spiner{
    height: 20px;
    background: black;
  }
  .progress_spiner_multy{
    height: 20px;
    background: red;
  }
  .progress_spiner_video{
    background: blue;
    height: 20px;
  }
  .container-pr-multy, .container-pr-video{
//    display: none;
  }
  #progress-image{
    margin-top: 10px;
    width: 65px;
    margin: 0 auto;
  }
  #progress-content{
    margin-top: 20px;
  }

}

.active_link {
  color: #1ca5c9 !important;
  /*text-decoration: underline;*/
  border-bottom: 2px solid #1ca5c9;
}

#top-links {
  position: absolute;
  top: 0;
  z-index: 1;
}
// el spiner
.spiner-el{
  height: 85px;
  position:relative;

  img{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -37.5px;
    width: 75px;

  }
}
span.icon-db-mail.msg-count {
  position: relative;
  #unread-messages {
    display: none;
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #d48700;
    border-radius: 17px;
    bottom: 6px;
    left: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 17px;

  }
}

.active_link_dash:before {
  margin-left: -17px;
  margin-bottom: 4px;
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 8px;
}

.button-transparent-white {
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid #ddd;
  opacity: 0.6;

}
.button-transparent-white:hover {
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid #ddd;
  opacity: 1;
}

#forgotPasswordUsername, #button_resetPass, #forgotPassBackButton{
  display: none;
}

.help-text-reset-confirm{
  color: white;
}
