#tour{
  li.select2-search-field input, a.select2-choice{
   width: 500px !important;

  }
  .right_div {
    margin-top: 10%;
  }

}
.user-avata img{
  width: 50px;
}
#tour_view{
  border-radius: 1px solid red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  z-index: 1000;
  right: 0px;
  display: none;
}
input[name='attendees'] {
    color: #f5f5f5;
}
//.jastClass {
//  li.select2-search-choice {
//    border: none;
//    box-shadow: none;
//    background: #f5f5f5;
//    position: absolute;
//    margin-left: -25px;
//  }
//}
#new_tour {
  .tour_data {
    li.select2-search-choice {
      border: none;
      box-shadow: none;
      background: #f5f5f5;
      position: absolute;
    }
  }
  .attendees_date_time {
    li.select2-search-choice {
      display: none;
    }
  }
}

.attendees-container {
  margin-top: 10%;
}

#current-user {
  margin-bottom: 10px;
  img.round {
    z-index: 10;
    border-radius: 80px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    //padding-left: 20px;
  }

  h6 {
    display: inline-block;
    margin-left: 20px;
    color: #b6b6b6;
  }
}

.movie-result {
    margin-bottom: 10px;
    height: 40px;

  .attendee-wrap {
    float: left;
  }
  .user-avata {
    display: inline-block;
  }
  .user-name {
    display: inline-block;
    margin-left: 24px;
    color: #b6b6b6;
  }

  img.round {
    z-index: 10;
    border-radius: 80px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    //padding-left: 20px;
  }

  .remove-attendee {
    display: inline-block;
    float: right;

    img.remove-icon {
      width: 18px;
      margin-right: 30px;
      padding-top: 5px;
      cursor: pointer;
    }
  }
}

img.flag {
  z-index: 10;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  display: inline-block;
}
.property_in_form {
  display: inline-block;
  margin-left: 10px;
  text-overflow: ellipsis;
  max-width: 425px;
  overflow: hidden;
  max-height: 20px;
  white-space: nowrap;
  line-height: 20px;
}

.search_div {
  padding: 5px;
  color: #808080;
  font-size: 10pt;
  .full_name {
    font-size: 8pt;
  }
  input[type="text"] {
       background: transparent;
       border: none;
       border-bottom: 1px solid #aaa;
       color: #aaa;
       font-size: 130%;
       -webkit-box-shadow: 0 0 0 0;
       -moz-box-shadow: 0 0 0 0;
       box-shadow: 0 0 0 0;
       width: 100%;
       //  display: inline-block;
  }
}

.property_id {
  color: #808080;
  font-size: 10pt;
  display: inline-block;
}

.tour_radio {

  #tour-type{
    position: relative;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;

    img {
      position: absolute;
      width: 40px;
      margin: auto;
      top: 10px;
      right: 0;
      bottom: 0;
      left: 0;
    }

    span {
      display: inline-block;
      width: 50%;
      /*height: 100%;*/

      label.scheduled, label.open_house {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        text-align: center;
        color: #a4a4a4;
        border: 1px solid #a4a4a4;
        cursor: pointer;

        h5 {
          color: #a4a4a4;
          font-weight: 700;
          margin-bottom: 0;
        }
      }

      label.scheduled {
        /*float: left;*/
        border-right: none;
      }

      label.open_house {
        /*float: right;*/
        border-left: none;
      }

      input[type="radio"] {
        display: none;
      }
    }

    span.pull-right {
      float: right;
    }

    span.pull-left {
      float: left;
    }

    input[type="radio"] + label {
      margin: 0;
    }

    input[type="radio"]:checked + label {
      color: #fff;
      background-color: #0079a1;
      h5 {
        color: #fff;
      }
    }
  }

  .tour_data{
    padding-bottom: 20px;
  }

  .attendees_date{
    margin-top: 40px;
  }

  .hover_div {
    background: #f5f5f5;
    height: 50px;
    width: 50px;
    margin-left: 217px;
    margin-top: -49px;
    position: absolute;
  }

  #calendar_div {
    height: 20px;
    width: 20px;
    margin-left: 195px;
    margin-top: -41px;
    position: absolute;
    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa !important;
    color: #aaa;
    font-size: 100% !important;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    width: 100%;
    display: inline-block;
  }
  .property_place {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 700;
    display: none;
  }
  .attendees_place {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 700;
    margin-top: -20px;

    z-index: 1;
    position: absolute;
  }
  .dateTime_place {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 700;
    display: none;
    position: absolute;
    margin-top: 20px;
    .date_div {
      display: inline-block;
    }
    .time_div{
      display: inline-block;
      margin-left: 235px;
    }
  }

  input[name="dateTime"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa !important;
    color: #aaa;
    font-size: 100% !important;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    width: 100%;
    display: inline-block;
  }
  input[name="dateTime"]:focus {
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    font-size: 100%;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    width: 100%;
    display: inline-block;
  }
}

#date-selector {
  // text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  
  #span-to-left, #span-to-right {
    font-weight: 100;
    font-size: 40px;
    display: inline-block;
    cursor: pointer;
    margin: 0 20px;
  }
  
  .date {
    display: inline-block;   
    h3 {
      font-size: 30px;
      color: #999;
    }

    .month, .year {
      display: inline-block;
    }
  }
}

#tours {  
  height: 60px;
  margin-top: 15px;

  
  h2.tour-head {
    color: #555;
    float: left;
  }

  .tour-links {
    text-align: center;
    text-transform: uppercase;
    font-size: 8pt;
    // height: 100px;
    line-height: 70px;
  }

  .button-transparent {
    padding: 10px 14px;
  }
  a.add_schedule_tour {
    float: right;
    margin-top: 10px;
    font-size: 14px;
  }
}

.tour-container {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 385px;
  .tour-photo{
    position: relative;
    width: 100%;
    border: 1px solid #e9e9e9;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    img.thumbnail {
      height: 140px;
      width: 100%;
    }

  }

  .special_div{
    position: relative;
    margin-top: 50px;
    height: 45px;
    width: 45px;
  }
  .tour-photo:hover .tour-block {
    display: block;
  }

  .tour-block{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top:0;
    left: 0;
    line-height: 70px;
    text-align: center;
    display: none;  
    a {
      margin: 0 10px;
    }
  }

  .tour-info {
    width: 100%;
    height: 130px;
    padding-top: 25px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;

    p {
      font-size: 8pt;
      color: #b6b6b6;
    }

    h6 {
      color: #a2a2a2;
      text-align: center;
      // padding: 0 0 0px;
      width: 100%;
      margin-bottom: 0;
    }

    h3.time {
      color: #87c1d9;
    }

    a {
      margin-bottom: 0;
    }
  }

  .past-tour-info {
    height: 192px;
    text-align: center;
    background-color: #fff;
    h5 {
      color: #555;
    }

    h6 {
      font-size: 13px;
      color: #a2a2a2;
    }
  }

  .attendees-info {
    background-color: #fdfdfd;
    padding: 15px 15px;
    h6 {
      display: inline-block;
      color: #a2a2a2;
      font-size: 12px;
      color: #a2a2a2;
    }
  }

  .before_start_tour {

  }

  .start_tour { 
    .attendees-info>div {
      display: inline-block;

      .attend_item {
        position: relative;
        display: inline-block;
        
        img.pending, img.host, img.accepted {
          width: 32px;
          height: 32px;
          border-radius: 32px;
        }

        img.pending {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: url(grayscale.svg); /* Firefox 4+ */
          filter: gray; /* IE 6-9 */
        }

        .agent_mark {
          position: absolute;
          left: 22px;
          bottom: 0px;
          width: 10px;
          height: 10px;
          background-color: #0d81bb;
          border-radius: 10px;
        }

        .number_of_left {
          position: absolute;
          top: -19px;
          width: 30px;
          height: 30px;
          border: 1px solid #1ca5c9;
          border-radius: 32px;
          line-height: 28px;
          font-size: 14px;
          text-align: center;
          color: #1ca5c9;
          span.plus {
            margin-right: -2px; 
          }
        }
      }
    }
  }

  .before_start_tour {
    .text {
      display: block;
      text-align: center;
    }
  }

  .score {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    border: 0;
    font-size: 0;
    padding: 20px 0;
  }

  .score span {
    margin: 0;
    padding: 0;
    font-size: 32px; font-size: 2rem;
    line-height: 32px; line-height: 2rem;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 1.2em;
    height: 1em;
    overflow: hidden;
    text-indent: 100%;
  }
  .score span:before {
     content: "☆";
     position: absolute;
     top: 0; left: 0; right: 0; bottom: 0;
     text-indent: 0;
     line-height: 1em;
     color: #aaa;
  }
  .score span.rated:before {
     content: "★";
     color: #ffbb04;
  }

  a.start_live_tour, a.join_tour {
    // display: none;
  }
}

.datetime-block {
  .tours-date {
    .t_day, .t_date {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

    .t_day {
      float: left;
    }

    .t_date {
      float: right;
    }
  }
}

#tour-head-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 130px;
  padding: 0;
  background: rgba(245,245,245,1);
  background: -moz-linear-gradient(top, rgba(245,245,245,1) 79%, rgba(245,245,245,0.52) 89%, rgba(245,245,245,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(79%, rgba(245,245,245,1)), color-stop(89%, rgba(245,245,245,0.52)), color-stop(100%, rgba(245,245,245,0)));
  background: -webkit-linear-gradient(top, rgba(245,245,245,1) 79%, rgba(245,245,245,0.52) 89%, rgba(245,245,245,0) 100%);
  background: -o-linear-gradient(top, rgba(245,245,245,1) 79%, rgba(245,245,245,0.52) 89%, rgba(245,245,245,0) 100%);
  background: -ms-linear-gradient(top, rgba(245,245,245,1) 79%, rgba(245,245,245,0.52) 89%, rgba(245,245,245,0) 100%);
  background: linear-gradient(to bottom, rgba(245,245,245,1) 79%, rgba(245,245,245,0.52) 89%, rgba(245,245,245,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=0 );
  .large-12, .large-4 {
    padding: 0;
  }

  .large-12 {
    padding-left: 30px;
  }
}

.tour-content {
  position: absolute;
  width: 100%;
  z-index: 5;
  margin-top: 110px;
  background-color: #f5f5f5;
}

.all-tour-list {
  padding: 0 45px 0 15px;
}


.attendees>div {

}
.attend_list {
  display: inline-block;
}

.dashboard-tours{
  width: 100%;
  height: 100%;
  li{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    list-style-type: none;
  }
  .dashboard-tours-in {
    width: 100%;
    height: 100%;
    .image_tours{
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 216px;
      }
    }
    .date_tours{
      background-color: white;
      margin-left: -30px;      
      padding: 20px;
      .hours{
        color: #1ca5c9; 
      }
      .date{
        color: #A4A4A4;
        font-size: 11pt;
      }
    }

    .attendees {
      margin: 0px 0 20px -30px;
      background-color: #fff;
      padding: 17px;
      border: 2px solid #ddd;
      border-left: none;
      border-right: none;
    }

    .attendees>div {
      display: inline-block;

      .attend_item {
        position: relative;
        display: inline-block;
        margin: 0 5px;

        img.pending, img.host, img.accepted {
          width: 32px;
          height: 32px;
          border-radius: 32px;
        }

        img.pending {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: url(grayscale.svg); /* Firefox 4+ */
          filter: gray; /* IE 6-9 */
        }

        .agent_mark {
          position: absolute;
          left: 22px;
          bottom: 0px;
          width: 10px;
          height: 10px;
          background-color: #0d81bb;
          border-radius: 10px;
        }

        .number_of_left {
          position: absolute;
          top: -19px;
          width: 30px;
          height: 30px;
          border: 1px solid #1ca5c9;
          border-radius: 32px;
          line-height: 28px;
          font-size: 14px;
          text-align: center;
          color: #1ca5c9;
          span.plus {
            margin-right: -2px; 
          }
        }
      }
    }
  }
}

// ================CALENDAR==================
#calendar{

  .fc-header {
    background-color: #36414b;
    height: 40px;
    margin-bottom: 0;
    
    .fc-header-title h2 {
      color: #ddd;
      display: inline-block;
    }

    .fc-header-center {
      // width: 50%;
      text-align: center;
    }

    .fc-button {
      display: inline-block;
      padding: 0 30px;
    }

    .fc-text-arrow {
      font-size: 50px;
      font-weight: 100;
      color: #ddd;
      cursor: pointer;
    }
  }

  .fc-content {
    td {
      padding: 0;
      vertical-align: top;
      border: 1px solid #aaa;
    }

    .fc-event {
      cursor: pointer;
    }
    .fc-event-icons {
      img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 24px;
        width: 24px;
        position: relative;
        image-rendering: optimizeQuality;
      }
    }

    .fc-event-inner {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      margin: 2px 7px;
      // max-height: 20px;
    }
    .fc-event-title {
      background-color: #fff !important;
      border-bottom: 1px solid #a8a8a8;
      margin-left: -5px;
      padding: 1px;
      padding-left: 7px;
      .start_time {
        display: inline-block;
        font-weight: bold;
        color: #888;
      }

    }

    .fc-day-header {
      text-align: center;
      color: #a0a0a0;
      background-color: #e4e4e4;
    } 

    .fc-widget-content {
      > div {
        padding-top: 27px;
      }
      background-color: #f5f5f5;
      // position: relative;

      .fc-day-content {
        // position: fixed;
        bottom: 0;
      }
      
      .fc-day-number {
        margin-top: -26px;
        float: right;
        padding: 8px 10px;
        color: #777;
        font-size: 15px;
      }
    }

    .fc-other-month .fc-day-number {
      color: #ccc;
    }  

    .fc-day-active {
      border-color: #f00;
      background-color: #0f0;
    }

    .fc-day:hover {
      border-color: #008cba;
      background-color: #fff;
      .fc-day-number {
        color: #008cba;
      }
    }
  }
}

.active_event {
  border-bottom-color: #008cba !important;
}

#open_house_block{
  display: none;
}

#tour_host{
  display: none;
}

// ===============END CALENDAR===============


// ===============SHOW TOUR==================
.view_tour_wrap_header {
  background-color: #38424e;
  height: 400px;
  .cover-photo {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 400px;
//    ba
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .opacity-block{
    background-color: #222;
    top:0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 3;
  }
  .view_property_header {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 55px 10px;
    z-index: 5;

    .prop-actions{
      width: 50%;
      float: left;
    }
    .prop-counts{
      text-align: right;
      //position: relative;
      width: 50%;
      float: right;

      .counts {
        margin-top: 67px;
        .count-bed, .count-bath, .count-sqft {
          display: inline-block;
          text-transform: uppercase;
          margin: 0 20px;
          text-align: center;
          font-size: 11px;
          h5 {
            color: #fff;
          }
        }
      }
    }

    .speciall_div{
      position: relative;
      margin-top: 15%;
      margin-left: 4%;
      height: 50px;
      opacity: 0.6;
    }

    .speciall_div:hover {
      opacity: 1;
    }

    .newclass{
      text-align: center;
      padding-top: 15px;
    }

    h1{
      color: #fff;
      text-align: center;
    }

    .view_properties-vote{
      //width: 70%;
      height: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 13% 0 0 0;
      color: #adadad;
      font-size: 10pt;
      //float: right;

      h5{

        color: #fff;
        font-weight: 600;
      }
    }
  }
}
.tour_info {
  margin-top: 5%;
  .description {
    margin-top: 2%;
    line-height: 30px;
    font-weight: inherit;
  }

  .no-tour-scheduled {
    margin-bottom: 20px;
  }

  .share_property {
    margin-top: 10%;
    color: black;

    h5 {
      font-weight: 400;
    }

    img {
      margin-left: 4%;
      height: 55px;
    }

  }

  .view_property_attendees {
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 90px;
    background-color: #fafafa;
    padding: 30px 25px 30px 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
    .round {
      margin-left: 5px;
      height: 40px;
      width: 40px;
      border-radius: 100px;
    }
    .date_and_time {
      float: right;
      margin-top: -2%;
      .time {
        color: #1ca5c9;
      }
      .date {
        text-transform: uppercase;
        font-size: 10pt;
      }

      img.view_tour {
        width: 110px;
        //margin-left: 25%;
        //margin-top: 65%;
      }

    }
  }

  .schedule_tour {
    margin-bottom: 50px;
  }

  .note {
    padding-bottom: 20px;
    .time {
      font-size: 10pt;
      padding-bottom: 5px;
    }
  }

  h2 {
    padding-bottom: 25px;
  }

}

.tours-head-wrap {
  width: 100%;
  height: 70px;
  .tours-head {
    text-align: center;
    padding: 0 30px;
    h2 {
      float: left;
    }

    .tours-links-center {
      display: inline-block;
      width: 160px;
      margin: 0 auto;
      margin-top: 25px;
      text-transform: uppercase;
      font-size: 13px;
      a {
        color: #a4a4a4;
      }
    }
  }
}

#upcoming-tours {
  padding: 35px;
}