.large-4.columns
  .agent-wrap
    - @mobilePicUrl = "http://stage.realync.com/images/noPhoto.jpeg" if @mobilePicUrl == "/images/noPhoto.jpeg"
    %img.agent-photo{alt: "", src: "#{@mobilePicUrl}"}
    .agent-wrap-head
    .agent-info    
      %h4
        =@firstName
        =@lastName
      %p
        %img.location(src="assets/location-black.png")
        - if  @agentProfile
          = @agentProfile.city + ","
          = @agentProfile.state
      %hr
      .description
        %h6
          - if  @agentProfile
            = @agentProfile.description
      %a.button.expand.view_agent{:href => '#'} View Agent's Profile