#tour.large-7.columns
.right-side.large-4.columns{:style => "margin-top: 10%"}
  .icon-tip
  Open House leaves your tour open for anyone to attend,
  while a Scheduled Tour lets you invite
  specific clients for a more intimate experience.
  .attendees-container
    %h3
      Attendees
    #current-user