#tour-head-fixed
  .row.large-12.columns#tours
    .large-4.columns
      %h2.tour-head
        Tours
    .large-4.columns.tour-links
      %a.calendar-link{href: "#!/upcoming"}
        Calendar
        &nbsp
      &#47;
      %a.list-link{href: "#!/tour_list"}
        &nbsp
        List
    .large-4.columns
      %a.button.button-transparent.add_schedule_tour{:href => '#!/createTour'}Schedule Tour 
    .clearfix 
    #date-selector
      #span-to-left
        ‹
      .date
        %h3
          .month
          .year
      #span-to-right
        ›

#content-wrapper.tour-content
  .all-tour-list
