!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => 'en'}
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %link{:rel => 'shortcut icon', :href => "#{image_path('/favicon.ico')}"}
    %title= content_for?(:title) ? yield(:title) : 'Untitled'
    = stylesheet_link_tag 'application'
    %script{src: "//static.opentok.com/webrtc/v2.2/js/opentok.min.js"}
    = csrf_meta_tags
  %body
    = yield
    #realync_spiner
    #status_progress
      #progress-image
      #progress-content


    = javascript_include_tag 'dashboard'
    = javascript_include_tag 'vendor/modernizr'

    / Check for Zepto support, load jQuery if necessary
    //:javascript
    //  document.write('<script src=/js/vendor/'
    //    + ('__proto__' in {} ? 'zepto' : 'jquery')
    //    + '.js><\/script>');